
<p>Dealer:
<br>
<% @game.dealer.hand.each do |card| %>
  <%= card.rank %> of <%= card.suit %>
  <br>
<% end %>
</p>
<p>Player:
<br>
<% @game.human.hand.each do |card| %>
  <%= card.rank %> of <%= card.suit %>
  <br>
<% end %>
</p>

<form action="/blackjack/hit" method="post">
  <input type="submit" name="turn" value="Hit">
</form>

<form action="/blackjack/stay" method="post">
  <input type="submit" name="turn" value="Stay">
</form>

<form action="/replay" method="get">
  <input type="submit" name="turn" value="Deal">
</form>