<%= erb :"shared/table" %>

<form action="/blackjack/hit" method="post">
  <input type="submit" name="turn" value="Hit">
</form>

<form action="/blackjack/stay" method="post">
  <input type="submit" name="turn" value="Stay">
</form>

<form action="/replay" method="get">
  <input type="submit" name="turn" value="Replay">
</form>